<mat-card class="card">
  <img mat-card-avatar class="card-avatar" src="https://source.unsplash.com/random">
  <mat-card-title>Erics template for angular projects</mat-card-title>
  <mat-card-subtitle>He is so cool!</mat-card-subtitle>
  <mat-card-content>

    <form (ngSubmit)="onSubmit()" class="full-width" [formGroup]="loginForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error
          *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && loginForm.controls['email'].errors.email && !loginForm.controls['email'].errors.required">Invalid
          email.
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && loginForm.controls['email'].errors.required">An email is
          required.
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) && loginForm.controls['password'].errors.required">An password is
          required.
        </mat-error>
      </mat-form-field>

      <br>

      <button mat-button type="submit" [disabled]="!loginForm.valid">Login!</button>
    </form>


  </mat-card-content>
</mat-card>


