.card {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.card-avatar {
  height: 100px;
  width: 100px;
}

.post {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 5px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-tab-label {
  width: 50%;
}
